<h1 class="pageHeader">add comment for {{post}}</h1>
<form id="add-comment">
    <label for="comment">comment</label>
    <textarea id="comment" cols="30" rows="10"></textarea>
    <button>add your comment!</button>
</form>
<script src="/js/addComment.js"></script>