<form id="newpost-form">
  <div class="card">
    <div class="card-divider">
      New Post
    </div>
    <div class="card-section">
      <input type="text" name="title" id="post-title" placeholder="Post Title">
      <textarea type="body" name="body" id="post-body" placeholder="Content"></textarea>
      <button class="submit button">Post</button>
    </div>
  </div>
</form>

<script src="./js/newpost.js" defer></script>