:root {
  --darker: #252b5e;
  --light: #e6dddd;
  --lighter: #ffffff;
  --mid: #ebae44;
}

body {
  background: var(--light);
}

header {
  background: linear-gradient(to right, var(--darker), #3b4177);
}

#title {
  color: var(--lighter);
}

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px;
  margin-bottom: 100px;
}

a {
  color: var(--lighter);
  text-decoration: none;
}

a:hover {
  color: var(--light);

}

.update {
  color: var(--lighter);
  background: var(--dark);
  padding: 5px;
  margin: 0;
}

.card {
  width: 75%;
  margin-left: 12.5%;
  border: none;
}

.card-divider {
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  align-items: center;
  background: var(--darker);
  color: var(--lighter);
}

.card-divider h4 {
  justify-content: flex-start;
}

.card-section {
  background: var(--lighter);
}


.card-title {
  text-decoration: none;
  color: var(--lighter);
  cursor: pointer;
}

.created {
  font-size: 0.8rem;
  color: var(--light);
  justify-self: flex-end;
}

.submit:hover {
  background-color: var(--darker);
  color: var(--lighter);
}

.comment {
  border: 1px solid var(--darker);
  margin: 10px;
}

.bottom {
  display: flex;
  justify-content: center;
  width: 100%;
}

.hide {
  display: none;
}

#comment-info {
  color: var(--darker);
}

#signup-txt {
  color: var(--darker);
}

.button {
  background-color: var(--mid);
  color: var(--darker);
  width: fit-content;
}

.button:hover {
  background-color: var(--darker);
  color: var(--lighter);
}

.button:focus {
  background-color: var(--mid);
  color: var(--darker);
}

#delete {
  color: var(--lighter);
  background: rgb(203, 65, 65);
  padding: 5px;
  margin: 5px 10px 5px 5px;
}

#delete:hover {
  background-color: var(--lighter);
  color: red;
}